{% trans_default_domain 'FOSUserBundle' %}

<div class="form-top">
    <div class="form-top-left">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Edytuj</a>
        <a class="btn btn-default" href="{{ path('task_index') }}">Przejdź do zadań</a>
    </div>
</div>
